/* o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #0d1f2d;
    color: #fff;
    margin: 0;
    padding: 0;
}
/* contêiner principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
/* título */
h1 {
    color: #ffc107;
    font-size: 50px;
    margin-bottom: 20px;
}
/* texto */
p {
    font-size: 20px;
    line-height: 1.5;
}
/* contêiner de imagens */
.img-container {
    margin-top: 20px;
}
/* imagens */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
/* contêiner de botões */
.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
/* botões */
.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffc107;
    color: #0d1f2d;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
    margin-top: 10px;
}
/* botões quando passa o mouse em cima */
.btn:hover {
    background-color: #ffdb58;
}
/* contêiner de imagens secundárias */
.img-container {
    text-align: center;
    margin-top: 20px;
}
.img-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px; 
}
/* descrição das imagens secundárias */
.img-container p {
    font-size: 18px;
    color: #ffc107;
    margin-bottom: 20px; 
}
/* adaptação para outros dispositivos */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }
}
